.btn,
button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: inline-block;
    padding: 16px 24px;
    text-decoration: none;

    background: var(--primario);
    color: var(--blanco);

    border: none;
    border-radius: 8px;

    transition: all 0.3s;
}

.btn:hover,
button:hover {
    cursor: pointer;
    background: var(--resalto);
    border: 1px var(--primario) solid;
    color: var(--gris);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-secundario {
    background-color: var(--gris);
    color: var(--negro);
}

.menu-iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
   list-style: none;
   padding: 0;
    margin-bottom: 0px;
 
}

.menu-iconos li {
    text-align: center;
    /* Centra el texto debajo de los iconos */
}

.menu-iconos a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
}

.menu-iconos span {
    display: block;
    /* Hace que las palabras estén en una nueva línea */
}

.menu-iconos i,
.menu-iconos span {
    margin-top: 8px;
    /* Espacio entre el icono y el texto */
}

.menu-iconos i {
    font-size: 2rem;
    /* Establece un tamaño de fuente base para los iconos */
}

.menu-iconos i:hover {

    background-color: transparent;
    color: var(--negro);
   
}



#carrito {
    position: relative;
    white-space: nowrap;
}

#carrito a span {
    position: absolute;
    top: -3px;
    right: -10px;

    width: 22px;
    height: 22px;

    font-size: 0.75rem;

    border-radius: 50%;
    color: var(--blanco);

    background: var(--primario);
    display: flex;
    justify-content: center;
    align-items: center;
}

#favoritos {
    position: relative;
    white-space: nowrap;
}

#favoritos a span {
    position: absolute;
    top: 10px;
    left: 35px;
    width: 22px;
    height: 22px;
    font-size: 0.75rem;
    border-radius: 50%;
    color: var(--blanco);
    background: var(--primario);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-iconos span{
    display: block;
    position: relative;
    height: 100%;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
}


.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 8px;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Inter',
        sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
}

#outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .menu-iconos span {
        display: none;
        /* Oculta los spans de los iconos cuando la pantalla es más pequeña */
    }
}

@media only screen and (max-width: 768px) {
    .menu-iconos i {
        font-size: 1.5rem;
        /* Ajusta el tamaño de fuente para dispositivos más pequeños */
    }
}

@media only screen and (max-width: 768px) {

    #carrito .carrito,
    #favorito .favorito {
        font-size: 0.75rem;
        /* Ajusta el tamaño de fuente para dispositivos más pequeños */
        margin-top: 2px;
        /* Ajusta el margen superior para #carrito */
        margin-bottom: 2px;
        /* Ajusta el margen inferior para #favorito */
    }
}