/* Reset */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Estilo para la sección del carrito */
section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}

.container_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

.container_section2 {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 90%;
    padding: 20px;
    border-radius: 8px;
}

/* Estilos generales */
.container,
.container_section,
.container_micarrito,
.container_pago,
.container_seguirc,
.container_section2 {
    max-width: 1250px;
    margin: 0 auto;
}


/* Botones */
header button,
.button,
footer button,
.container_seguirc .button,
.container_pago button {
    background: var(--primario);
    color: var(--color-blanco);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.container_seguirc .button {
    background-color: #007bff;
}

.container_pago button {
    background-color: #008cba;
}

.container_pago button a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el carrito */
.container_micarrito h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

#productos-carrito-lista {
    /* list-style: none; */
    padding: 0;
}

.article_carro {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.article_carro img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

/* Estilo para la información del producto */
.info-producto {
    flex: 1;
}

.product-details {
    flex: 1;
}

/* Estilo para la lista de productos */
.grupo-productos-carrito {
    list-style: none;
    padding: 0;
}

.product-actions button {
    background: #008cba;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.product-actions input {
    width: 30px;
}

/* Estilo para la cantidad de productos y botones */
.producto-cantidad {
    display: flex;
    align-items: center;
}

.cantidad-input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
    border: 1px black solid;
}

/* Estilo para los botones de cantidad y eliminar */
.producto-cantidad button,
.eliminar {
    background-color: white;
    color: #0f0f0f;
    border: 1px black solid;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo específico para el botón de eliminar */
.eliminar {
    background: #dc3545;
    color: white;
    margin-left: 16px;
    margin-right: 16px;
}

/* Estilo para los íconos dentro de los botones */
.eliminar i {
    font-size: 20px;
}

/* Estilos para tarjetas de productos */
.container-item {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px grey solid;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
    /* Añade overflow: hidden para controlar el contenido que sobresale */
}

.item img {
    width: 150px;
    /* Define un ancho específico para la imagen */
    height: auto;
    object-fit: cover;
}

.info-producto {
    flex: 1;
}

.price-grp {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

/* Restringe el tamaño del contenedor a su contenido */
.container-item {
    max-width: 100%;
}

.item h4 {
    margin: 10px 0;
}

.rating {
    margin-bottom: 10px;
}

.rating form {
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 20px;
    color: var(--primario);
    cursor: pointer;
}