.section {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 4rem 1rem 2rem;
    
}

.container_regalo {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
        
    
}

.regalo,
.suscribirse {
   
    text-align: center;
    margin: 24px;
}

.regalo {
    background-color: var(--destacado);
    padding: 80px 50px;
    margin-right: 45px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.regalo h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.175rem;
    color: whitesmoke;
}

.regalo span {
    font-size: 64px;
    color: whitesmoke;
}

.regalo p {
    color: whitesmoke;
}

.suscribirse {
    background-color: #fff;
    padding: 20px;
   
}

.suscribirse h4 {
    color: var(--black);
    margin: 0 24px 48px 24px;
    
}

.uppercase {
    text-transform: uppercase;
    color: var(--destacado);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos horizontalmente */
    margin: 24px;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    margin-top: 16px;
    background-color: var(--destacado);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--destacado);
}

.suscribirse p {
    color: #666;
    margin: 5px 0;
}

.small {
    color: #888;
}

/* Estilos específicos para pantallas pequeñas (hasta 767px) */
@media (max-width: 767px) {

    .container_regalo {
        flex-direction: column;
        /* Cambiado a columna en pantallas pequeñas */
        align-items: center;
        /* Centra los elementos horizontalmente */
    }

    .regalo,
    .suscribirse {
        width: 100%;
        /* Ocupar todo el ancho en pantallas pequeñas */
        margin-right: 0;
        /* Eliminar margen derecho en pantallas pequeñas */
    }

    .regalo {
        margin-bottom: 20px;
        /* Agregar margen inferior en pantallas pequeñas */
    }
}